In [1]:
import pandas as pd
import numpy as np

constructors_df = pd.read_csv("f1db_csv/constructors.csv")
races_df=pd.read_csv("f1db_csv/races.csv")
quali_df=pd.read_csv("f1db_csv/qualifying.csv")
results_df=pd.read_csv("f1db_csv/results.csv")
driverStandings_df=pd.read_csv("f1db_csv/driver_standings.csv")
constructorStandings_df=pd.read_csv("f1db_csv/constructor_standings.csv")
drivers_df = pd.read_csv('f1db_csv/drivers.csv')

In [2]:
data = results_df.merge(races_df, on="raceId")

In [3]:
data1 = data.merge(quali_df, on=["raceId","driverId","constructorId"], how="left")

In [4]:
data2 = data1.merge(driverStandings_df, on=["raceId","driverId"], how="left")
data2.head()

,resultId,raceId,driverId,constructorId,results_number,results_grid,results_position,results_positionText,results_positionOrder,results_points,...,quali_number,quali_position,q1,q2,q3,driverStandingsId,driver_standings_points,driver_standings_position,driver_standings_positionText,driver_standings_wins
0,1,18,1,1,22,1,1,1,1,10.0,...,22.0,1.0,1:26.572,1:25.187,1:26.714,1.0,10.0,1.0,1,1.0
1,2,18,2,2,3,5,2,2,2,8.0,...,3.0,5.0,1:25.960,1:25.518,1:27.236,2.0,8.0,2.0,2,0.0
2,3,18,3,3,7,7,3,3,3,6.0,...,7.0,7.0,1:26.295,1:26.059,1:28.687,3.0,6.0,3.0,3,0.0
3,4,18,4,4,5,11,4,4,4,5.0,...,5.0,12.0,1:26.907,1:26.188,\N,4.0,5.0,4.0,4,0.0
4,5,18,5,1,23,3,5,5,5,4.0,...,23.0,3.0,1:25.664,1:25.452,1:27.079,5.0,4.0,5.0,5,0.0

In [5]:
data3 = data2.merge(constructorStandings_df, on=['raceId','constructorId'])

In [6]:
data4 = data3.merge(drivers_df, on=['driverId'], how='left')
data4.head()

,resultId,raceId,driverId,constructorId,results_number,results_grid,results_position,results_positionText,results_positionOrder,results_points,...,const_standing_positionText,wins,driverRef,drivers_number,drivers_code,drivers_forename,drivers_surname,drivers_dob,drivers_nationality,drivers_url
0,1,18,1,1,22,1,1,1,1,10.0,...,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,18,2,2,3,5,2,2,2,8.0,...,3,0,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,18,3,3,7,7,3,3,3,6.0,...,2,0,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,18,4,4,5,11,4,4,4,5.0,...,4,0,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,18,5,1,23,3,5,5,5,4.0,...,1,1,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [7]:
data5 = data4.merge(constructors_df, on=['constructorId'], how='left')

In [12]:
columns=data5.columns

In [9]:
data5.replace('\\N', 0, inplace=True)

In [11]:
data5.tail()

,resultId,raceId,driverId,constructorId,results_number,results_grid,results_position,results_positionText,results_positionOrder,results_points,...,drivers_code,drivers_forename,drivers_surname,drivers_dob,drivers_nationality,drivers_url,constructorRef,const_name,const_nationality,const_url
24607,26480,1130,822,15,77,12,16,16,16,0.0,...,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas,sauber,Sauber,Swiss,http://en.wikipedia.org/wiki/Sauber_Motorsport
24608,26481,1130,825,210,20,16,17,17,17,0.0,...,MAG,Kevin,Magnussen,1992-10-05,Danish,http://en.wikipedia.org/wiki/Kevin_Magnussen,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
24609,26482,1130,848,3,23,0,18,18,18,0.0,...,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
24610,26483,1130,852,215,22,17,19,19,19,0.0,...,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team
24611,26484,1130,858,3,2,19,20,20,20,0.0,...,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [14]:
f1data=pd.read_csv("output.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_9084\2663081294.py:1: DtypeWarning: Columns (26,27,28,29,30,31,32,33,34,35,45,50) have mixed types. Specify dtype option on import or set low_memory=False.
  f1data=pd.read_csv("output.csv")

In [16]:
col_name=f1data.columns

In [ ]:
col_name[25]